# exclude log files
Text_Adventure/Temp/*
Text_Adventure/Library/*
Text_Adventure/Assembly-CSharp.csproj
Number_Wizard/Temp/*
Number_Wizard/Library/*
Number_Wizard/Assembly-CSharp.csproj
Block_Breaker/Temp/*
Block_Breaker/Library/*
Block_Breaker/Assembly-CSharp.csproj